@import url('https://fonts.googleapis.com/css2?family=Allura&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Lato:wght@400;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #DADEE3;
}

a {
    text-decoration: none;
    color: #222222;
    font-size: 12px;
    font-weight: 700;
}

div.wrapper {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #DADEE3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #22222233 solid 1px;
}

#diamondLogo {
    padding-left: 1.5rem;

}

nav {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    line-height: 2.4rem;
    border-bottom: #222222 solid 2px;
}

.headerIcons {
    display: flex;
}

.chapterHeading {
    margin: 3rem 0;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    line-height: 2.5rem;
    text-align: center;
}

#search {
    padding: 1rem;
}

#burger {
    padding: 1rem;
    border-left: #22222233 solid 1px;
}

main {
    width: 75vw;
    min-height: 2rem;
    min-width: 100px;
    display: flex;
    flex-flow: column wrap;
    align-self: center;
}

.garamond {
    font-family: 'EBGaramond'
}

.openSans {
    font-family: 'Open Sans'
}

.italic {
    font-style: italic;
}

.normal {
    font-style: normal;
}

.thin {
    font-weight: 100;
}

.thicc {
    font-weight: 800;
    font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
}

.weight600 {
    font-weight: 600;
}

.weight700 {
    font-weight: 700;
}

.sBold {
    font-weight: 800;
}

h1 {
    font-size: 2.625rem;
}

.recipeCardsContainer {
    margin: .5rem 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
        "greenItem greenItem greenItem"
        "purpleItem redItem blueItem"
}

.pancakes {
    display: flex;
}

.recipeCategoriesContainer {
    margin: .5rem 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.heartIcon {
    width: 18px;
    height: 17px;
    padding: 2px;
    margin-right: .3rem;
}

.dotOptionsIcon {
    height: 13px;
    width: 3px;
    padding: 2px;
}

.rating {
    align-items: center;
    margin: 1rem 0;
    display: flex;
    width: 4.5rem;
}

.ratingStars {
    font-size: 0.75rem;
    color: #C4C4C4;
}

.filledStars {
    color: #FFE350;
    font-size: 0.75rem;
}

.ratingNumber {
    margin-left: auto;
    font-size: 0.625rem;
    font-family: 'Lato';
    font-weight: 700;
}

.largeCardArticle {
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-flow: column wrap;
    align-content: start;
}

#largeCardOptions {
    display: flex;
    align-items: center;
    justify-content: end;
}

.veganText {
    padding: 0 2rem 1.5rem 0;
    font-size: 1.25rem;
    font-family: 'Open Sans';
    font-style: normal;
}

.pancakeP {
    margin-top: 1rem;
    font-size: .75rem;
}

.breakfastH3 {
    margin: 0 0 .5rem 0;
    font-family: 'EB Garamond';
    font-size: .875rem;
    font-style: italic;
    align-self: start;
}

.articlePadd {
    padding: 0 1.5rem;
}

#smallRoundBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: end;
    width: 3.25rem;
    height: 3.25rem;
    border: none;
    border-radius: 1.625rem;
    background-color: #FFE350;
    font-size: 2rem;
    padding: 0;
}

.smallCard {
    display: flex;
    flex-flow: column wrap;
}

.figPadding {
    padding: 1rem;
}

.smallCardHeader {
    display: flex;
    justify-content: space-between;
}

.smallCardHeadline {
    font-size: .875rem;
    font-weight: 800;
}

.dinnerCaption {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    padding: 2rem;
}

.h3Dinner {
    font-family: 'Lato';
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 900;
}

.pDinner {
    font-family: 'Lato';
    font-size: .75rem;
}

.circleRecipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20rem;
}

.circleImg {
    width: 200px;
    height: 200px;
}

.roundH3 {
    margin-top: 2rem;
    font-size: .875rem;
    font-weight: 800;
}

.circleText {
    text-align: center;
    font-size: .75rem;
    padding: 0 2.52rem;
}

#burgerP {
    padding: 0 2rem;
}

h3 {
    text-align: center;
}

.quoteContainer {
    position: relative;
    margin-top: 6.5rem;
    margin-right: 5rem;
}

.absoluteQuote {
    position: absolute;
    top: 80px;
    right: 37vw;
}

h2 {
    font-family: 'EB Garamond';
    font-size: 2.625rem;
    font-style: italic;
    font-weight: 400;
}

#signature {
    font-family: 'Allura';
    font-size: 1.5rem;
    transform: rotate(-2.1deg);
}

.starBoy {
    display: flex;
    justify-content: end;
}

.chefBreadcrumbImg {
    padding: 0 2rem;
}

.gumboTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.gumboText {
    width: 20vw;
    font-size: .7rem;
    font-weight: 400;
    padding: 1rem 0;
}

#readMore {
    font-family: 'EBGaramond';
    font-size: .9rem;
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
}

.largeCard {
    display: flex;
    grid-area: greenItem;
    background-color: #FFFFFF;
}

.purpleBg {
    background-color: #FFFFFF;
    grid-area: purpleItem;
}

.redBg {

    background-color: #FFFFFF;
    grid-area: redItem;
}

.blueBg {

    background-color: #FFE350;
    grid-area: blueItem;
}

button {
    margin: 2.5rem 0;
    width: 12.8rem;
    padding: 1.3rem 2rem;
    border-radius: 2.5rem;
    font-size: .8rem;
    background-color: #DADEE3;
}

button.recipeBtn {
    align-self: center;
}

#jumbotronSection {
    margin-top: 6.5rem;
    display: flex;
    justify-content: center;
}

.jumbotron {
    padding: 4rem 0 3rem 0;
    background-image: url(/assets/jumbotronBg.png);
    width: 1000px;
    height: 416px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.whiteText {
    color: white;
}

.menuText {
    font-size: .75rem;
}

#seperator {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0;
    align-self: center;
    width: 50px;
    height: 3px;
    background-color: white;

}

.menuBtn {
    background-color: #FFE350;
    align-self: center;
}

footer {
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.weightNormal {
    font-weight: normal;
}

.negSpacing {
    letter-spacing: -2px;
}

.twoRem {
    padding-top: 1rem;
    font-size: 2rem;
}